In [25]:
from app.services.audio.audio import AudioSlicer
from pathlib import Path
from pyannote.audio import Pipeline
import torch
import io
from app.settings import settings

In [34]:
from diarize import process_speaker_emb,parse_segment
from app.database_redis.connection import get_redis_client
import pandas as pd

In [28]:
redis_client = await get_redis_client(settings.redis_host, settings.redis_port, settings.redis_password)

In [10]:

path = f"/audio/test.webm"

In [11]:
Path(path).exists()

True

In [17]:
pipeline = Pipeline.from_pretrained(
    "pyannote/speaker-diarization-3.1",
    use_auth_token="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",
)
pipeline.to(torch.device("cuda"))

In [12]:
audio_slicer = await AudioSlicer.from_ffmpeg_slice(path, 0, 600)
slice_duration = audio_slicer.audio.duration_seconds
audio_data = await audio_slicer.export_data()

NameError: name 'pipeline' is not defined

In [20]:

output, embeddings = pipeline(io.BytesIO(audio_data), return_embeddings=True)
print(len(embeddings))

9

In [29]:
speakers = [await process_speaker_emb(e, redis_client, 'test') for e in embeddings]

In [22]:
segments = [i for i in output.itertracks(yield_label=True)]

In [43]:
set([s[-1 ] for s in segments])

{'SPEAKER_00',
 'SPEAKER_01',
 'SPEAKER_02',
 'SPEAKER_03',
 'SPEAKER_04',
 'SPEAKER_05',
 'SPEAKER_06',
 'SPEAKER_07',
 'SPEAKER_08'}

In [35]:
df = pd.DataFrame([parse_segment(s) for s in segments], columns=["start", "end", "speaker_id"])
df["speaker"] = df["speaker_id"].replace({i: s[0] for i, s in enumerate(speakers)})
df["score"] = df["speaker_id"].replace({i: s[1] for i, s in enumerate(speakers)})

In [36]:
df

,start,end,speaker_id,speaker,score
0,0.161290,2.419355,5,ad9b0859-4b38-4b97-82c6-83f72ea3c89d,0.320643
1,2.589134,3.488964,5,ad9b0859-4b38-4b97-82c6-83f72ea3c89d,0.320643
2,3.488964,3.505942,0,a7dd69bf-5ca9-4c57-8b07-f8fd7e880290,NaN
3,3.505942,3.556876,5,ad9b0859-4b38-4b97-82c6-83f72ea3c89d,0.320643
4,6.222411,6.409168,5,ad9b0859-4b38-4b97-82c6-83f72ea3c89d,0.320643
...,...,...,...,...,...
178,588.904924,589.770798,7,ab4203cd-1854-4137-8524-7257a82fdf45,0.351081
179,590.568761,591.162988,7,ab4203cd-1854-4137-8524-7257a82fdf45,0.351081
180,590.738540,591.230900,5,ad9b0859-4b38-4b97-82c6-83f72ea3c89d,0.320643
181,591.943973,594.983022,5,ad9b0859-4b38-4b97-82c6-83f72ea3c89d,0.320643
182,596.409168,597.699491,5,ad9b0859-4b38-4b97-82c6-83f72ea3c89d,0.320643

In [48]:
with open('2505_test_diarize.json','w') as f:
    f.write(df.to_json())