In [2]:
#| default_exp psql

In [3]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.insert(0,'..')

In [4]:
#| export
from dotenv import load_dotenv
import os


from sqlalchemy import create_engine, MetaData, inspect, Column, ForeignKey, JSON
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker,mapped_column
from sqlalchemy.sql import text
from sqlalchemy.dialects.postgresql import UUID
from pgvector.sqlalchemy import Vector
from sqlalchemy import Column, Integer, String ,DateTime,UniqueConstraint,Table, BIGINT

import uuid

In [5]:
#| export
def query2df(query):
    query_str = query.statement.compile(dialect=query.session.bind.dialect)
    return pd.read_sql(query_str, query.session.bind)

In [6]:
#| export

load_dotenv('/app/.env')
POSTGRES_USER = os.getenv('POSTGRES_USER')
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')



DATABASE_URL = f"postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@host.docker.internal:5432/db"
engine = create_engine(DATABASE_URL)
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

/tmp/ipykernel_334/3307345775.py:13: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [7]:
inspector = inspect(engine)

In [8]:
#| export
schema = 'speakers'
LocalBase = declarative_base(metadata=MetaData(schema=schema))



def engine_execute(statement):
    with engine.begin() as connection:
        connection.execute(text(statement))

/tmp/ipykernel_334/3982815251.py:3: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  LocalBase = declarative_base(metadata=MetaData(schema=schema))

In [9]:
#engine_execute('CREATE EXTENSION vector;')

In [10]:
#| export

class SpeakerEmbs(LocalBase):
    __tablename__ = 'speakerembs'
    id = Column(BIGINT, primary_key=True, autoincrement=True)
    embedding = mapped_column(Vector(256))
    speaker_id = mapped_column(BIGINT, ForeignKey('speakers.id'), nullable=False)
    client_id = Column(BIGINT, nullable=False)


class Speakers(LocalBase):
    __tablename__ = 'speakers'
    id = Column(BIGINT, primary_key=True, autoincrement=True)
    client_id = Column(BIGINT, nullable=False)

In [11]:
#engine_execute(f'drop table main.usertokens;')

In [12]:
engine_execute(f'CREATE SCHEMA IF NOT EXISTS {schema};')
LocalBase.metadata.create_all(engine)

In [13]:
import pandas as pd

/tmp/ipykernel_334/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [14]:
pd.read_sql('select * from speakers.speakerembs',engine)

,id,embedding,speaker_id,client_id
0,1,"[-0.0060930643,0.24502955,-0.017237157,-0.0625...",1,0
1,2,"[-0.22509952,0.033845965,0.25711492,0.09201576...",2,0
2,3,"[-0.0060930643,0.24502955,-0.017237157,-0.0625...",3,1
3,4,"[-0.22509952,0.033845965,0.25711492,0.09201576...",4,1

In [39]:
pd.read_sql('select * from speakers.speakers',engine)

   id  client_id
0   1          0
1   2          0